<!DOCTYPE html>
<html lang="en">
<head>

     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getweather.com</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="css/responsive.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&display=swap" rel="stylesheet">
 <style>
#img{
  margin: 5rem;
  width: 20rem;
  height:23rem;
  border-radius: 0px;
  filter: drop-shadow( 0 0.5rem 0.2rem black);
}
section{
  display: flex;
}
.intro{
  display: flex;
  justify-content: left;
  align-items: center;
}

</style>
</head>
<body>
   {{>navbar}}
   <div id="margin-padding" class="col-md-10 col-12 mx-auto">
  <section>
    <article id="image">
      <img id="img" src="img/Nitesh2.png" class=".img-responsive" alt="Nitesh Agnihotri">
    </article>

    <article class="intro">
<blockquote class="blockquote">
  <p class="heading ">My Name is Nitesh Agnihotri</p>
  <footer class="blockquote-footer">I am a <cite title="Source Title">Web Developer & Graphic Designer</cite>
  </footer>
</blockquote>
    </article>
 
  </section>
  </div>
</body>
</html>